# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/
env/

# Build artifacts
build/
kahoot_quiz_generator.egg-info/

# Streamlit secrets and temporary files
secrets.toml
*.pdf

# OS-specific files
.DS_Store
